#Generated Subfolders
/Solution*
/Output
/Debug
/Release
/Doxygen/html
/Toolchain
/Cache
/Doxygen/config.txt
/Tools/CcOSTools
sdkconfig

CMakeLists.txt.user*
QtCreatorDeployment.txt

# Temporary download status file
*.progress

# Generated version files
*.rc
